<div class="d-flex justify-content-between bg-secondary-subtle text-primary-emphasis p-2 ps-5 ">
  <div>
    <p class="fw-semi-bold fs-4">ClientDetail-Task</p>
  </div>
  <div class="d-flex align-item-center">
    <a routerLink="/home" routerLinkActive="active"
      class="me-5 p-2 mt-2 text-decoration-none text-primary-emphasis">Home</a>
    <a routerLink="/client-list" routerLinkActive="active"
      class="me-5 mt-2 p-2 text-decoration-none text-primary-emphasis">Client List</a>
  </div>
</div>
<router-outlet></router-outlet>
<div class="bg-secondary-subtle p-5 mt-5">
  <p class="text-center">footer</p>
</div>

<!-- <app-client-detail>
  
</app-client-detail> -->