<div class="row container-fluid mt-5">
    <div class="col-3"></div>
    <div class="container-fluid">
        <div class="row text-secondary">
            <div class="col-3 "></div>
            <div class=" w-25 col-4 text-start w-50 mt-5">
                <div class="d-flex border justify-content-around align-item-center pt-2">
                    <h6>Id:</h6>
                    <input type="text" value="12345" class="border mb-2 ms-4 w-50">
                </div>
                <div class="d-flex border justify-content-around align-item-center pt-2">
                    <h6>Name:</h6>
                    <input type="text" value="Apple" class="border mb-2 w-50">
                </div>
                <div class="d-flex border justify-content-around align-item-center pt-2">
                    <h6>Mobile No:</h6>
                    <input type="text" value="9876543211" class="border mb-2 me-2 w-50">
                </div>
                <div class="d-flex border justify-content-around align-item-center pt-2">
                    <h6>Email ID:</h6>
                    <input type="text" value="appleapple.com" class="border mb-2 me-1 w-50">
                </div>
                <div class="d-flex border justify-content-around align-item-center pt-2">
                    <h6>City:</h6>
                    <input type="text" value="tiruvannamalai" class="border mb-2 ms-3 w-50">
                </div>
            </div>
            <div class="col-5 "></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a class="ps-3 pe-3 ps-1 pe-1 border text-success text-decoration-none" routerLink="/client-list">submit</a>
</div>